/* App.css */
html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #252525;
}

.app {
    height: 100vh;
    width: 100%;
}

.container0 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    outline: 1px solid #444;
}

.container0 h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
}

.container0 button {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container0 button:hover {
    background-color: #9c9c9c;
}

.noti-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgb(17, 157, 250);
    border-radius: 10px;
    margin: 10px;
}

.noti-input {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(17, 157, 250);
    border-radius: 10px;
    margin: 10px;
}

.kanban-section {
    display: flex;
    flex-direction: row;
}

.example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.example-dropzone {
    background-color: #6DB65B;
    border-radius: 5px;
    margin: 10px;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.comment-container button {
    background-color: rgb(255, 255, 255);
    border: 1px solid #f87373;
    color: #ff0000;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;  
}

.comment-container button:hover {
    background-color: #9c9c9c;
}

.comment {
    display: flex;
    background-color: #838383;
    border: #ff0000;
    border-radius: 5px;
}